.profile__form-profession {
  margin: 0;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  width: 336px;
  border: none;
  color: #ffffff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .profile__form-profession {
    font-size: 14px;
    margin: 0;
    width: 282px;
    text-align: center;
    margin-bottom: 30px;
  }
}
