.profile__edit-icon {
  position: absolute;
  background-color: #000000;
  width: 130px;
  height: 120px;
  left: -1%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.2s linear;
}
.profile__edit-icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .profile__edit-icon {
    left: 42.5%;
    top: 0px;
  }
}

@media screen and (max-width: 805px) {
  .profile__edit-icon {
    left: 40.5%;
    top: 0px;
  }
}

@media screen and (max-width: 650px) {
  .profile__edit-icon {
    left: 39%;
    top: 0px;
  }
}

@media screen and (max-width: 550px) {
  .profile__edit-icon {
    left: 35%;
    top: 0px;
  }
}

@media screen and (max-width: 415px) {
  .profile__edit-icon {
    left: 33%;
    top: 0px;
  }
}

@media screen and (max-width: 369px) {
  .profile__edit-icon {
    left: 30%;
    top: 0px;
  }
}

@media screen and (max-width: 316px) {
  .profile__edit-icon {
    left: 28%;
    top: 0px;
  }
}

@media screen and (max-width: 290px) {
  .profile__edit-icon {
    left: 26%;
    top: 0px;
  }
}

@media screen and (max-width: 260px) {
  .profile__edit-icon {
    left: 24%;
    top: 0px;
  }
}

@media screen and (max-width: 240px) {
  .profile__edit-icon {
    left: 22%;
    top: 0px;
  }
}

@media screen and (max-width: 220px) {
  .profile__edit-icon {
    left: 20%;
    top: 0px;
  }
}
